html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
}

#camera-feed, #camera-canvas, #camera-image-raw, #camera-canvas-processed, #camera-image-processed, #digit-examples {
    display: none;
}

#canvas-bounded-processed {
    max-width: 100%;
    max-height: 100%;
    bottom: 0%;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    -o-object-fit: contain;
    object-fit: contain;
    transition: all 0.5s;
}

#canvas-transformed {
    max-width: 100%;
    max-height: 100%;
    bottom: -200vh;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    -o-object-fit: contain;
    object-fit: contain;
    transition: all 0.5s;
}

button {
    background-color: #cccccc;
    border-radius: 5px;
    padding: 5px;
    position: fixed;
    left: 0;
    right: 0;
    border: none;
    margin: auto;
    width: 100px;
    transition: all 0.5s;    
}

#start-button {
    top: 10px;
}

#capture-button {
    bottom: 10px;
}

#back-button {
    bottom: -100%;
}