html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
}

#camera-feed {
}

#camera-canvas, #camera-image-raw, #camera-canvas-processed, #camera-image-processed {
    display: none;
}